<!DOCTYPE html>
<html>
<head>
	<title>Upload Images</title>
	<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/bootstrap.min.css') }}">

	<script type="text/javascript">
		window.onload = function (){
			var url = window.location.href;
			var user = url.split("/")[4];

			document.getElementById("existingForm").action = "http://localhost:5000/uploadtest/" + user;

			console.log(user);
			
		}

	</script>
</head>
<body>

	<div>
		<form id="existingForm" class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="http://localhost:5000/uploadtest/">

			<div class="form-group">
				<label for="image" class="col-sm-3 control-label">Select image to upload:</label>
				<input type="file" name="file" id="datasetUpload">
			</div>
		
		  	<div class="form-group">
				<input type="submit" name="submit" value="Upload Image">
		  	</div>
		</form>
	</div>
	<div id="existingUserForm">
		<p>{{ error }} </p>
	</div>
</body>
</html>